@model IEnumerable<LeaveManager.Models.DeliveryManagerLeaveRequestViewModel>

@{
    ViewBag.Title = "DeliveryManager - Review Requests";
}

<h2>DeliveryManager - Review Requests</h2>

<p>
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeaveReason.LeaveReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllDayEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveReason.LeaveReasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllDayEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
  
        <td>
            @Html.ActionLink("Process Request", "ProcessRequest", new { id=item.LeaveRequestInfoID }) |
            
        </td>
    </tr>
}

</table>
