<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Levi9 Leave Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.datetimepicker.js")"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.datetimepicker.css")">

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div style="margin-top:-50px" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://levi9.com">
                    <img style="background-color:transparent,ActiveBorder:none" src=' ~/Resources/Levi9.png' />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("List Of All Requests", "Index", "EmployeeLeaveRequestViewModels")</li>
                    <li>@Html.ActionLink("Review by Delivery Manager", "Index", "DeliveryManagerViewModel")</li>
                    <li>@Html.ActionLink("Review by Department Manager", "Index", "DepartmentManagerLeaveRequestViewModels")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="position:absolute; bottom:0;">
            <p>&copy; @DateTime.Now.Year - Levi9 Leave Manager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("JavaScript",required:false)
</body>
</html>
