@model IEnumerable<LeaveManager.Models.EmployeeLeaveRequestViewModel>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>List of leave requests</h2><br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveReason.LeaveReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllDayEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DeliveryManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryManagerStatus.RequestStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryManagerComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentManagerStatus.RequestStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentManagerComment)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var style = "";

        if (item.DeliveryManagerStatus.RequestStatusName.Equals("Denied") || item.DepartmentManagerStatus.RequestStatusName.Equals("Denied"))
        {
            style = "#F8F2F2";

        }
        else if (item.DepartmentManagerStatus.RequestStatusName.Equals("Approved") && item.DeliveryManagerStatus.RequestStatusName.Equals("Approved"))
        {
            style = "#F0F7F1";

        }
                    <tr bgcolor="@style">
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveReason.LeaveReasonName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllDayEvent)
                    </td>
                    <td>
                        @if (item.AllDayEvent)
                        {
                            @Html.DisplayFor(modelItem => item.StartTime).ToString().Split(' ')[0]
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.StartTime)
                        }
                    </td>
                    <td>
                        @if (item.AllDayEvent)
                        {
                            @Html.DisplayFor(modelItem => item.EndTime).ToString().Split(' ')[0]
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.EndTime)
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryManager.EmployeeName)
                    </td>
                    <th>
                    
                        @formatStatus(item.DeliveryManagerStatus.RequestStatusName)
                    </th>
                    <th>
                        @if (!item.DeliveryManagerStatus.RequestStatusName.Equals("Pending"))
                        {


                            @Html.DisplayFor(modelItem => item.DeliveryManagerComment)


                        }
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentManager.EmployeeName)
                    </td>
                    <th>
                     
                        @formatStatus(item.DepartmentManagerStatus.RequestStatusName)

                    </th>
                    <th>
                        @if (!item.DepartmentManagerStatus.RequestStatusName.Equals("Pending"))
                        {


                            @Html.DisplayFor(modelItem => item.DepartmentManagerComment)


                        }
                    </th>

                    <td>


                        @if (item.DepartmentManagerStatus.RequestStatusName.Equals("Approved") && item.DeliveryManagerStatus.RequestStatusName.Equals("Approved"))
                        {
                            @Html.ActionLink("Print PDF", "printPDF", new { id = item.LeaveRequestID })
                        }

                        
                     
                        @Html.ActionLink("Edit", "Edit", new { id = item.LeaveRequestID })

                    </td>
                </tr>
    }

</table>


@helper formatStatus(string status)
{

var color = "orange";
if (status.Equals("Approved"))
{
    color = "green";
}
else if (status.Equals("Denied"))
{
    color = "red";
}

    <span style="color:@color"> @String.Format(status)</span>

}