@model IEnumerable<LeaveManager.Models.DepartmentManagerLeaveRequestViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Leave Requests For <i style="color:tomato">Department Manager</i> </h2>



<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveReason.LeaveReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllDayEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentManager)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveReason.LeaveReasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllDayEvent)
            </td>
            <td>
                @if (item.AllDayEvent)
                {
                    @Html.DisplayFor(modelItem => item.StartTime).ToString().Split(' ')[0]
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.StartTime)
                }
            </td>
            <td>
                @if (item.AllDayEvent)
                {
                    @Html.DisplayFor(modelItem => item.EndTime).ToString().Split(' ')[0]
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.EndTime)
                }
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.DepartmentManager.EmployeeName)
            </td>

            <td>
                @Html.ActionLink("Process Request", "ProcessRequest", new { id = item.LeaveRequestID })

            </td>

        </tr>
    }

</table>